@CHARSET "ISO-8859-1";

/* ********************** Bootstrap *********************** */
.page-header {
	margin: 0px 10px 15px 0px;
	padding: 0px;
}

.panel-footer {
	margin: 5px -10px 0px -15px;
	padding: 5px 10px 0px 0px;
}

/* ********************** jQuery UI *********************** */
.ui-icon-inline {
	width: 15px;
	height: 15px;
	display: inline-block;
	text-indent: -99999px;
	overflow: hidden;
	background-repeat: no-repeat;
	background-image: url("themes/images/ui-icons_81132e_256x240.png");
}

.ui-state-highlight:hover {
	border: 1px solid #cdd5da;
	background: #f6f6f6 url("images/ui-bg_highlight-hard_100_f6f6f6_1x100.png") 50% 50% repeat-x;
	font-weight: bold;
	color: #ED0101;
}

.ui-datepicker-trigger {
	vertical-align: middle;
	height: 20px;
	width: 20px;
	margin-left: 3px;
	cursor: pointer;
}

.ui-dialog .ui-dialog-buttonpane {
	text-align: center;
}

.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
	float: none;
}

.ui-jqgrid .ui-pager-control .ui-pager-table td {
	padding: 0px 5px 0px 5px;
}

/* ********************** jqGrid *********************** */
.jqGrid-span {
	height: 100%;
	display: inline-block;
}

.ui-jqgrid .ui-jqgrid-htable th div {
	height: auto;
}

.ui-jqgrid tr.jqgrow td {
	white-space: normal;
}

.ui-priority-secondary-grid {
	background: #fdf2f2;
}

.ui-priority-secondary-grid:highlight {
	border: 1px solid #ddeefe;
	background: #ddeefe url("images/ui-bg_glass_55_ddeefe_1x400.png") 50% 50% repeat-x;
	color: #444444;
}

.ui-priority-secondary-grid:hover {
	border: 1px solid #cdd5da;
	background: #f6f6f6 url("images/ui-bg_highlight-hard_100_f6f6f6_1x100.png") 50% 50% repeat-x;
	font-weight: bold;
	color: #ED0101;
}

/* ********************** OLD MENU *********************** */
.mega-menu {
	list-style: none;
} 

/* ********************** TABLE *********************** */
.table-hide {
	display: none;
}

.td-center {
	text-align: center;
}

.header-hr {
	border-top: solid;
	border-top-width: 1px;
	border-top-color: #FF6600;
	width: 100%;
}

/* ********************** OTHERS UI *********************** */
.super-connect label,.super-connect a{
	color: #0000ff;
	text-decoration: underline;
	cursor: pointer;
}

.underline {
	text-decoration: underline;
}

.tabs li {
	list-style: none;
	float: left;
	margin-left: 5px;
	padding: 5px;
	heigth: 20px;
	cursor: pointer;
}

.tabs {
	padding: 0;
	margin-top: 3px;
}

/*
.unselect {
	border: solid;
	border-width: 1px;
	border-color: #FF6600;
	background-color: #FF9933;
}

.select {
	border: solid;
	border-width: 1px;
	border-color: #ff6600;
	background-color:  #EED6B7;
	border-bottom-color: #EED6B7;
}
*/

.radio-title {
	font-weight: bold;
	border-bottom: solid;
	border-bottom-width: 4px;
}

/* ********************** MESSAGEES *********************** */
.msg, .err {
	font-size: 0.9em;
	font-weight: normal;
}

.err {
	font-color: #ed171f;
}

/* ********************** FIELDS *********************** */
.mandatory {
	color: #0000ff;
}


/* ********************** COLORS *********************** */
.color-red {
	color: #ed171f;
}

.back-grey {
	background-color: #D3D3D3; 
}

/* ********************** OTHERS CLASSES *********************** */
.nowrap {
	display: block; 
	float: left;
}

.italic-bold {
	font-style: italic;
	font-weight: bold;
}

.dialog-click {
	color: #0000ff;
	text-decoration: underline;
}

.dialog-click:hover {
	color: #000000;
	text-decoration: none;
	cursor: pointer;
}

.bottom-border {
	border-bottom: solid;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
}

/* ********************** OTHERS *********************** */
.text-align-right {
	text-align: right;
}

.vertical-top {
	vertical-align: top;
}

.vertical-middle {
	vertical-align: middle;
}

.vertical-bottom {
	vertical-align: bottom;
}

.align-right {
	text-align: right;
}

.align-left {
	text-align: left;
}

.align-center {
	text-align: center;
}

.italic {
	font-style: italic;
}

.cursor-pointer {
	cursor: pointer;
}

.line-height-100{
	line-height: 100%;
}

.line-height-22 {
	line-height: 22px;
}

.float-right {
	float: right;
}

.bold {
	font-weight: bold;
}

.nonLeftBorder {
	border-left: none;
}

.nonRightBorder {
	border-right: none;
}

.footer-style {
	position: fixed; 
	bottom:0px; 
	width:100%;
}


/* fixing BLO-APX SIT log defect #3*/ 
.fm-button {
    height: 20px;
    display: inline-block;
    margin: 2px 4px 0 0;
    padding: .2em .5em .1em .5em;
    text-decoration: none !important;
    cursor: pointer;
    position: relative;
    text-align: center;
    zoom: 1;
    padding-left: 1.9em;
}

.ui-jqdialog .ui-jqdialog-titlebar-close {
	position: absolute;
    top: 0%;
    margin: 6px 4px 0 0;
    padding: 0px;
    cursor: pointer;
}

.ui-jqdialog .ui-jqdialog-titlebar-close span {  }
.ui-jqdialog .ui-jqdialog-titlebar-close:hover, 
.ui-jqdialog .ui-jqdialog-titlebar-close:focus { 
	padding: 0px; 
}
