.bea-dashboard-icons-box {
	margin-left: -50px;
	list-style: none;
	text-align: center;
}

.bea-dashboard-icons-box li {
	display: inline-block;
}

.bea-dashboard-icons {
/*   width: 190px;
  height: 210px;
  margin: 30px;  */	
  font-size: 18px;
  width: 171px;
  height: 189px;
  background-repeat: no-repeat;
  overflow: hidden;
  /* float: left; */
  padding-top: 43px;
  margin: 20px 25px 15px 25px;
  background-position-x: 10px;
  border: 1px solid #c1c1c1;
  text-align: center;
  border-radius: 10px;
}

.bea-dashboard-icons .glyphicon ,
.bea-dashboard-icons .fa {
  margin-bottom: 30px;
  font-size: 60px;
  color: #d60015;
}

.bea-dashboard-icons .glyphicon-text {
  display: block;
  text-align: center;
  word-wrap: break-word; /* Help out IE10+ with class names */
  color:#333;
}

.bea-dashboard-icons:hover {
  color: #fff;
  background: #ff9e1b;
  text-decoration: none;
  font-weight: none;
  border: 1px solid #ff9e1b;
  -webkit-box-shadow: 0 0 8px #ff9e1b;
  box-shadow: 0 0 8px #ff9e1b;	
}

.bea-dashboard-icons > a:hover {
  outline: 0;
  text-decoration: none;
}
 
 @media (min-width: 1200px) {
.index-container {
  width: 780px;
}
}
 
 @media (min-width: 992px) and (max-width: 1199px) {
.index-container {
  width: 780px;
}
}
 
 @media (min-width: 768px) and (max-width: 991px)  {
.index-container {
  width: 530px;
}
}

 @media (max-width: 767px) {
.index-container {
  width: 270px;
}
}




