.xaa-navbar { min-height: 40px;}
.xaa-navbar .navbar-header {
	padding-right: 0;
}

.xaa-navbar-brand {
  height: 40px !important;
  padding: 5px 0 5px 15px !important;
  font-size: 14px !important;
  line-height: 25px;		
}

@media (min-width: 768px) {
.xaa-navbar-nav>li>a {
  padding-top: 10px;
  padding-bottom: 10px;
}
.xaa-navbar .navbar-header {
	padding-right: 10px;
}
}

.xaa-divider { margin: 5px 0;}

.navbar-bea{
  color: #fff;
  background-color: #76323f;
  border: 0;
  /*border-color: #ed171f;*/
  border-radius: 0px;
  margin-bottom: 5px;
}

.menuBarIcon {
  margin-right: 2px;		
  font-size: 16px;
}

.navbar-bea .navbar-nav > li > a{
  color:#fff;
  font-size: 16px;
}
.navbar-bea .navbar-nav > li > a:hover{
  background: #692631 !important;
  color: #fff !important;
}
.navbar-bea .navbar-nav > .dropdown > a .caret{
  margin-left: 3px;
  border-top-color: #fff;
  border-bottom-color: #fff;
}
.navbar-bea .navbar-nav > .open > a:hover{
  background-color: #692631;
}
.navbar-bea .navbar-nav > .open > a,
.navbar-bea .navbar-nav > .open > a:focus{
background-color: #692631;
}
.navbar-bea .navbar-brand{
  color:#fff;
  padding-top: 10px;
}
.navbar-brand > img {
  float: left;
  width: auto;
  height: auto;
  overflow: auto;
  vertical-align: middle;
}
.navbar-brand > span {
  font-size: 16px;
  font-weight: normal;
  vertical-align: middle;
}
.menu-large {
  position: static !important;
}
.megamenu{
  padding: 8px 0px 30px 0px;
  width:100%;
}
.megamenu> li > ul {
  padding: 0;
  margin: 0;
}
.megamenu> li > ul > li {
  list-style: none;
}
.megamenu> li > ul > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.428571429;
  color: #000;
  white-space: normal;
}
.megamenu> li ul > li > a:hover,
.megamenu> li ul > li > a:focus {
  text-decoration: none;
  border-radius: 4px;  
  color: #fff;
  background-color: #692631;
}
.megamenu.disabled > a,
.megamenu.disabled > a:hover,
.megamenu.disabled > a:focus {
  color: #999999;
}
.megamenu.disabled > a:hover,
.megamenu.disabled > a:focus {
  text-decoration: none;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  cursor: not-allowed;
}
.megamenu >li > ul> li.dropdown-header {
  color: #861926;
  font-size: 14px;
  font-weight: bold;
  padding-top: 6px !important;
  font-family: 'Segoe UI-SemiBold', sans-serif, Arial;
}
.navbar-nav .open .dropdown-menu .dropdown-header, .navbar-nav .open .dropdown-menu > li > a {
  padding-top: 20px;
}

@media (min-width: 768px) {
	.row-centered {
	    text-align: left;
	}
	
	.xaa-navbar-nav .col-centered {
	    display: inline-block;
	    float: none;
	    text-align: left;
	    vertical-align: top;
	    margin: 0 auto;
	    margin-right:-4px;
	}
}

@media (max-width: 767px) {
  .navbar-header{
	color: #fff;
	font-weight: bold;
	background-color: #76323f;
	border-color: #76323f;
  }
  .navbar-bea{
	color: #000;
	font-weight: normal;
	background-color: #fff;
	border-color: #000;
  }
  .navbar-bea .navbar-nav > li > a,
  .navbar-bea .navbar-nav > li > a:hover,
  .navbar-bea .navbar-nav > li > a:focus{
	color: #000;
  }
  .navbar-bea .navbar-nav > li > a:focus{
	background-color: #fff;
	border-color: #fff;
  }
  .megamenu{
    margin-left: 0 ;
    margin-right: 0 ;
  }
  .megamenu> li {
    margin-bottom: 0px;
  }
  .megamenu> li:last-child {
    margin-bottom: 0;
  }
  .megamenu.dropdown-header {
    padding: 20px 25px !important;
  }
  .megamenu> li > ul > li > a {
    padding: 3px 25px;
  }
  .navbar-nav .open .dropdown-menu{
	color: #fff;
  }
  .dropdown-header{
  	color: #692631;
  }
}

.xaa-navbar-collapse {
	position: initial;
	border: 0;
  	border-color: #76323f !important;		
}

.navbar-inverse .xaa-navbar-toggle {
	border-color: #fff !important;	
} 

.navbar-inverse .xaa-navbar-toggle:focus, .navbar-inverse .xaa-navbar-toggle:hover {
  background-color: #c09f80 !important;
}

a.xaa-navbar-toggle {
  padding: 6px 6px;
  margin-top: 6px;
  margin-bottom: 6px;		
}

/*������ start*/
.menu-navigation {
	margin: 0 10px 10px 0px;
	font-weight: 600;
	color: #666666;
	border-bottom: none;
}
.navigate {
	padding-left: 0px;
	overflow: hidden;
}

.navigate li {
	float: left;
	list-style: none;
}

.navigate li .glyphicon {
	height: 14px;
	margin-right: 5px;
	font-size: 12px;
}

.navigate .nav-active {
	font-weight: 600;
	color: #a6192e;
}

/* notification */
.xaa-notification {
	position: initial;
  	top: 0;
  	right: 53px;
  	width: 74px;
  	display: none;
}
.xaa-notification .xaa-notification-main {
	position: absolute;
	right: 52px;
	top: 0;
	width: 74px;
	line-height: 20px;
	padding: 10px 12px;
  	text-align: left;
	border: 0;
	border-radius: 0;
	background: #76323f;
	color: #fff;
}
.xaa-notification .xaa-notification-main span {
	line-height: 20px;
}
.xaa-notification>.btn-default.active.focus, 
.xaa-notification>.btn-default.active:focus, 
.xaa-notification>.btn-default.active:hover, 
.xaa-notification>.btn-default:active.focus, 
.xaa-notification>.btn-default:active:focus, 
.xaa-notification>.btn-default:active:hover, 
.xaa-notification.open>.dropdown-toggle.btn-default,
.xaa-notification.open>.dropdown-toggle.btn-default:hover,
.xaa-notification.open>.dropdown-toggle.btn-default:focus,
.xaa-notification.open>.dropdown-toggle.btn-default:active:focus {
	color: #fff;
	background-color: #692631;
	border-color: #692631;
}
.xaa-notification ul.dropdown-menu {
	width: 100%;
	min-width: 240px;
	max-height: 250px;
	padding: 0;
	color: #474747;
	overflow: auto;
	right: -1px;
	top: 40px;
}
.xaa-notification ul.dropdown-menu li {
	width: 100%;
	padding: 0 12px;
	font-size: 12px;
}
.xaa-notification ul.dropdown-menu li.xaa-notification-unread {
	color: #fff;
	background-color: #d2ae8d;
}
.xaa-notification ul.dropdown-menu>li>a {
	padding: 2px 0 5px;
	white-space: normal;
	color: #474747;
	background: transparent;
	border-bottom: 1px solid #c1c1c1;
}
.xaa-notification ul.dropdown-menu>li.xaa-notification-unread>a {
	color: #fff;
}
.xaa-notification ul.dropdown-menu li:last-child a {
  	border-bottom: 0;
}

.xaa-notification ul.dropdown-menu>li>a,
.xaa-notification ul>li p {
	margin: 0;
	text-indent: 0px;
}
.xaa-notification ul>li .xaa-notification-title {
	height: 24px;
  	line-height: 24px;
  	font-size: 14px;
  	margin: 0;
}
.xaa-notification ul>li .xaa-notification-title .xaa-notification-icon {
  	display: inline-block;
	height: 24px;
  	line-height: 24px;
  	padding: 0 5px;
}
.xaa-notification ul>li .xaa-notification-title .xaa-notification-title-content {
  	display: inline-block;
  	width: calc(100% - 130px);
  	white-space: nowrap;
  	vertical-align: bottom;
  	text-overflow: ellipsis;
  	overflow: hidden;
}
.xaa-notification ul>li .xaa-notification-title .xaa-notification-title-time {
	color: #76323f;
  	font-size: 12px;
  	font-weight: bold;
}
.xaa-notification ul>li .xaa-notification-introduction {
	position: relative;
	line-height: 18px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	margin: 0;
	margin-left: 26px;
}
@media (min-width: 768px) {
	.xaa-notification {
		position: relative;
		width: 74px;
		right: 0;
		display: inline-block;
	}
	.xaa-notification .xaa-notification-main {
		position: relative;
		right: 0;
		top: 0;
		width: 100%;
	}
	.xaa-notification .col-sm-4 {
  		width: auto; 
	}
	.xaa-notification ul.dropdown-menu {
		width: 500px;
		max-height: 250px;
		overflow: auto;
		right: 0;
	}
	
}
@media(max-width: 375px) {
/* 	.navigate li {
		width: 100%;
		padding-left: 25px;
	} */
	.navigate li:first-child {
		padding-left: 0;
	}
}



.user-log-switch.dropdown-menu>li>a:focus, 
.user-log-switch.dropdown-menu>li>a:hover{color: #fff;background: transparent;}
.user-log-switch{
	width: 200px;
	padding: 0;
}
@media (max-width: 767px){
.user-log-switch{width: 100%;}
.navbar-inverse .navbar-nav .open .dropdown-menu>li>a{color: #333;}
}
.user-log-switch li.col-centered{
	display: block;
	color: #333;
	padding: 3px 10px 3px 0;
	list-style: none;
	cursor: pointer;
}

.user-log-switch .col-sm-4{width: auto;}
.user-log-switch li+li{border-top:1px solid #e5e5e5}
.user-log-switch li:last-of-type{position:relative;}
.user-name-span,
.nav-role-switch + ol li{
	text-overflow: ellipsis;
  	overflow: hidden;
}
.user-name-span{
	display: inline-block;
	line-height: 20px;
	padding: 0 2px;
	max-width: 80px;
	vertical-align: middle;
}
.role-switch-style .fa-user-o{vertical-align: middle;}
.nav-role-switch + ol li:last-of-type{
	padding: 3px 10px 3px 15px;
	border-bottom-left-radius : 4px;
	border-bottom-right-radius : 4px;
}

.role-switch-style{
	font-size: 16px;
	line-height: 0;
	padding: 10px 15px;
}
.role-switch-style .fa-sort-down{margin-left: 3px;}
.user-log-switch li:hover {
	color:#fff;
	background-color: #692631;
}
.user-log-switch li a{
	text-decoration:none;
	color: inherit;
	padding-left: 30px !important;
}
.user-log-switch li .fa-sign-out{
	position: absolute;
	left: 10px;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}
.nav-role-switch a{color:inherit;}
.navbar-nav .open .dropdown-menu.user-log-switch > li > a{padding-top: 3px;padding-left:40px;}

.user-log-switch.dropdown-menu{top: auto;}

@media (min-width: 767px){
	.user-log-switch>li:last-of-type{
		border-bottom-left-radius: 4px;
		border-bottom-right-radius: 4px;
	}
}